{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %} First Page {% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

</head>

<body>
  <h1>Welcome to MedDB a medical database for you!</h1>
    {% block content %}
    {% endblock %}

  <div class="menu_buttons">
  <div class="dropdown">
    <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
      {% block auth %}
      {% endblock %}
        </div>
  </div>
  <div class="logout">
    {% block logout %}
    {% endblock %}
  </div>
  </div>

  <img src="{% static 'images/first_page.jpg' %}" alt="Medical Research">
</body>

</html>