{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div style="text-align:center"><i>You are logged in as user: {{ user.username }}!</i></div>

{% endif %}
{% endblock %}

{% block auth %}
{% if user.is_authenticated %}
      <a href="list_employee/">List users</a>
      <a href="add_all/">Add Data</a>
{% else %}
      <a href="accounts/login/">Login</a>
      <a href="signup/">Sign Up</a>
      <a href="admin/">Admin page (hannapeciak)</a>

{% endif %}
{% endblock %}

{% block logout %}
{% if user.is_authenticated %}
<form  action="{% url 'logout' %}"  method="post">
          {% csrf_token %}
    <button class='logoutbtn' type="submit">Log Out</button>
</form>
{% endif %}
{% endblock %}
